/* 常用公共样式 */

.bd {
  border: 1px solid;
}

.h100pc {
  height: 100%;
}

.w100pc {
  width: 100%;
}

.ovh {
  overflow: hidden;
}

.ova {
  overflow: auto;
}

.inb {
  display: inline-block;
}

.dsn {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.bold {
  font-weight: bold;
}

.tac {
  text-align: center;
}

.lh15 {
  line-height: 1.5;
}

.bzb {
  box-sizing: border-box;
}

.cp {
  cursor: pointer;
}

/* 颜色相关 */

.fff {
  color: #ffffff;
}

.bg-gray {
  background: gray;
}

.bg-fff {
  background: #ffffff;
}

/* 字体 */

.f0 {
  font-size: 0;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f24 {
  font-size: 24px;
}

.f26 {
  font-size: 26px;
}

.f28 {
  font-size: 28px;
}

.f30 {
  font-size: 30px;
}

.f32 {
  font-size: 32px;
}

.f34 {
  font-size: 34px;
}

.f36 {
  font-size: 36px;
}

/* 字粗 */

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw550 {
  font-weight: 550;
}

.fw600 {
  font-weight: 600;
}

.fw650 {
  font-weight: 650;
}

.fw700 {
  font-weight: 700;
}

.fw750 {
  font-weight: 750;
}

/* margin */

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

/* padding */

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

/* 定位*/

.fixed {
  position: fixed;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

/* 伸缩布局 */

.flex {
  display: flex;
}

.fd {
  flex-direction: column;
}

.ji {
  justify-items: center
}

.jc {
  justify-content: center;
}

.ac {
  align-items: center
}

.jc-sa {
  justify-content: space-around
}

.jc-sb {
  justify-content: space-between
}