@charset "utf-8";
$color:#01ffff;
$colorfff:#fff;
$col01c2c2:#01c2c2;

// 元素长宽
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

// 字体颜色,大小, 水平布局
@mixin font($size, $color: #333, $text-align: left){
  font-size: $size;
  color: $color;
  text-align: $text-align;
}
// 字体颜色,大小, 粗细
@mixin fontColor($size, $color: #333, $text-align: 500){
  font-size: $size;
  color: $color;
  font-weight: $text-align;
}


// flex布局
@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

// 默认按照父元素的剧中
@mixin positionCenter($position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
@mixin positionLeft($position: absolute) {
  position: $position;
  top: 0;
  left: 0;

}
@mixin backgroundUrl($url){
  background: url($url) no-repeat left top;
}
